project/Node-red flow.txt
[{"id":"7c60c89d.84f578","type":"tab","label":"IOT_project","disabled":false,"info":""},{"id":"db3f89b0.675f78","type":"function","z":"7c60c89d.84f578","name":"server configuration","func":"// defining the channel id of the thingspeak and then \n//reading the topic and value of the message\nvar CHANID = 2251805\nvar topic = flow.get(\"topic\")\nvar fieldValue = flow.get(\"value\")\n// making the publish message to the thingspeak by configuring \n//the topic name and value of the sensor.\n//Temperature\nif (topic == 1){\n    msg.topic = 'channels/'+CHANID+'/publish'\n    msg.payload = '&field1='+fieldValue+\"&status=MQTTPUBLISH\"\n}\n//Humidity\nif (topic == 2){\n    msg.topic = 'channels/'+CHANID+'/publish'\n    msg.payload = '&field2='+fieldValue+\"&status=MQTTPUBLISH\"\n}\n//Luminosity\nif (topic == 3){\n    msg.topic = 'channels/'+CHANID+'/publish'\n    msg.payload = '&field3='+fieldValue+\"&status=MQTTPUBLISH\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":260,"wires":[["d67ce5ad.d2a758","58cdbff9.a8e8b8"]]},{"id":"614c83c3.8641dc","type":"tcp in","z":"7c60c89d.84f578","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":260,"y":100,"wires":[["304120e1.39042"]]},{"id":"d67ce5ad.d2a758","type":"debug","z":"7c60c89d.84f578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":320,"wires":[]},{"id":"304120e1.39042","type":"function","z":"7c60c89d.84f578","name":"message prepare","func":"// reading the contetnt of the message and spliting the topic and value\nvar msg_value = msg.payload\nvar content = msg_value.split(' ');\n\nvar topic = content[0];\nvar value = content[1];\n// making new message with specifying the topic and value.\nflow.set(\"topic\", topic);\nflow.set(\"value\", value);\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":100,"wires":[["db3f89b0.675f78"]]},{"id":"58cdbff9.a8e8b8","type":"mqtt out","z":"7c60c89d.84f578","name":"","topic":"","qos":"","retain":"","broker":"3ef30f42.033818","x":670,"y":200,"wires":[]},{"id":"3ef30f42.033818","type":"mqtt-broker","z":"","name":"IOT Project1","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"DSAPKx0xBjMzIjAaKzUWKiw","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]